{% extends 'article/main.html' %}
{% load staticfiles %}
{% load article_extras %}

{% block content %}
    <!--Запись================================-->
    <div class="container article-detail">
        <div class="article-detail">
            <div class="article-header ">
                <time class="article-header" datetime="{{ article.article_datetime }}">
                    {{ article.article_datetime }} {{ article.article_user.username }}
                </time>
            </div>
            <div>
                <h2 class="article-content">{{ article.article_title }}</h2>
                <p class="article-content">{{ article.article_text}}</p>
            </div>
            <div class="article-footer">
                {% if user.is_authenticated %}
                <p class="article">
                {% else %}
                <p class="article lock">
                {% endif %}
                    <a class="rate like {% rate_active user 'article' article.id 1 %}" href="{{ article.id }}">
                        <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                        <span class="rate">{{ article.article_likes }}</span>
                    </a>
                    <a class="rate dislike {% rate_active user 'article' article.id -1 %}" href="{{ article.id }}">
                        <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                        <span class="rate">{{ article.article_dislikes }}</span>
                    </a>
                </p>
            </div>
            <hr class="article-detail">
        </div>
        <!--Добавить комментарий=================-->
        <!--TODO: обдумать комменты!-->
        {% if user.is_authenticated %}
            <div class="addcomment">
                <form action='{% url 'article:add_comment' article.id %}' method="post">{% csrf_token %}
                    <textarea data-autoresize rows="2" placeholder="Написать комментарий..." name="comment_text"></textarea>
                    <div align="right">
                        <button class="add btn " type="submit">
                            <span>Добавить комментарий</span>
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
        <!--Комментарии==========================-->
        {% for comment in comments %}
            <div class="comment">
                {% if user.is_authenticated %}
                <div class="dropdovn {% comment_owned user comment.id %}" >
                    <button class="three_dots dropdown-toggle" data-toggle="dropdown">
                        <span>&#8942;</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Редактировать</a></li>
                        <li><a href="{% url 'article:del_comment' comment.id %}">Удалить</a></li>
                    </ul>
                </div>
                {% endif %}
                <div class="comment-header">
                    <div>
                        <time class="comment-header" datetime="{{comment.comments_datetime }}">
                            {{ comment.comments_datetime }} {{ comment.comments_user }}
                        </time>
                    </div>
                </div>
                <p>{{ comment.comments_text }}</p>
                <div class="article-footer">
                    {% if user.is_authenticated %}
                    <p class="comment">
                    {% else %}
                    <p class="comment lock">
                    {% endif %}
                        <a class="rate like {% rate_active user 'comment' comment.id 1 %}" href="{{ comment.id }}">
                            <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                            <span class="rate">{{ comment.comments_likes }}</span>
                        </a>
                        <a class="rate dislike {% rate_active user 'comment' comment.id -1 %}" href="{{ comment.id }}">
                            <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                            <span class="rate">{{ comment.comments_dislikes }}</span>
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}