{% extends 'article/main.html' %}
{% load staticfiles %}
{% load article_extras %}

{% block content %}
    <div class="container">
        {% for article in articles %}
            <div class="article">
                <a href="{% url 'article:detail' article.id %}" class="article">
                    <div class="article-header">
                        <time class="article-header" datetime="{{ article.article_datetime }}">
                            <!-- TODO: изменить дизайн имени пользователя -->
                            {{ article.article_datetime }} {{ article.article_user.username }}
                        </time>
                    </div>
                    <div>
                        <h2 class="article-content">{{ article }}</h2>
                        <p class="article-content">{{ article.view_article_text}}</p>
                    </div>
                </a>
                <div class="article-footer">
                    {% if user.is_authenticated %}
                    <p class="article">
                    {% else %}
                    <p class="article lock">
                    {% endif %}
                        <a class="rate like {% rate_active user 'article' article.id 1 %}" href="{{ article.id  }}">
                            <img src="{% static 'article/img/like.png' %}" width="25px" height="22">
                            <span class="rate">{{ article.article_likes }}</span>
                        </a>
                        <a class="rate dislike {% rate_active user 'article' article.id -1 %}" href="{{ article.id  }}">
                            <img src="{% static 'article/img/dislike.png' %}" width="25px" height="22">
                            <span class="rate">{{ article.article_dislikes }}</span>
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}