{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}main{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'article/img/logo.ICO' %}" type="image/x-icon">

        <!-- Bootstrap -->
        <link href="{% static 'article/vendors/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Fonts -->
        <link href="{% static 'article/vendors/fonts/Roboto:100,200,300,400,500,700.css' %}" rel="stylesheet">
        <link href="{% static 'article/vendors/fonts/Roboto+Slab:100,200,300,400.css' %}" rel="stylesheet">

        <link href="{% static 'article/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'article/css/auth.css' %}" rel="stylesheet">



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- ModalAuth ============================================== -->
        <!--
                 TODO: обдумать тултипы (в смартфонах их е видно)
                                                                      -->

        <div class="modal fade" id="modalAuth" role="dialog">
            <div class="login-area">
                <div class="bg-image">
                    <div class="login-signup">
                        <div class="container" style="padding: 0">

                            <div class="login-header">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="login-logo">
                                            <!--img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkury_logo" class="img-responsive"-->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="login-details">
                                            <ul class="nav nav-tabs navbar-right">
                                                <li id="liRegister"><a data-toggle="tab" href="#register">Регистрация</a></li>
                                                <li id="liLogin"><a data-toggle="tab" href="#login">Войти</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- REGISTER ---------------->
                            <div class="tab-content">
                                <div id="register" class="tab-pane">
                                    <div class="login-inner">
                                        <div class="title">
                                            <h1 id="h1_reg">Регистрация</h1>
                                        </div>
                                        <div class="login-form">
                                            <form class="auth_form" action="{% url 'loginsys:register' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-details">
                                                    <label class="user">
                                                        <input type="text" name="username" placeholder="Логин" id="username">
                                                    </label>
                                                    <label class="mail">
                                                        <input type="email" name="mail" placeholder="Почта" id="mail">
                                                    </label>
                                                    <label class="pass">
                                                        <input type="password" name="password1" placeholder="Пароль" id="password1">
                                                    </label>
                                                    <label class="pass">
                                                        <input type="password" name="password2" placeholder="Повторите пароль" id="password2">
                                                    </label>
                                                </div>
                                                <button type="submit" class="form-btn">Зарегестрироваться</button>
                                                <button type="button" class="form-btn closeForm">Отмена</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- LOGIN ---------------->
                                <div id="login" class="tab-pane">
                                    <div class="login-inner">
                                        <div class="title">
                                            <h1 id="h1_log">Вход</h1>
                                        </div>
                                        <div class="login-form">
                                            <form class="auth_form" action="{% url 'loginsys:login' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-details">
                                                    <label class="user">
                                                        <input type="text" name="username" placeholder="Логин" id="username">
                                                    </label>
                                                    <label class="pass">
                                                        <input type="password" name="password" placeholder="Пароль" id="password">
                                                    </label>
                                                </div>
                                                <button type="submit" class="form-btn">Войти</button>
                                                <button type="button" class="form-btn closeForm">Отмена</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation bar ================================================== -->
        <!-- TODO: ПЕРЕДЕЛАТЬ АДАПТИВ!
             TODO: ПЕРЕДАЛТЬ ТОП БАР -->
        <header class="navbar" id="top">
            <div class="container">
                <nav class="navbar navbar-inverse">
                    <div class="container-flud">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="{% url 'article:index' %}">Курсовая работа</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <!--ul class="nav navbar-nav">
                                <li><a href="#">Горячее</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Темы<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'loginsys:logout' %}">Тема 1</a></li>
                                        <li><a href="#">Тема 2</a></li>
                                        <li><a href="#">Тема 3</a></li>
                                    </ul>
                                </li>
                            </ul-->
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'article:add_article' %}">Добавить запись</a></li>
                                            <li><a href="{% url 'loginsys:logout' %}">Выйти</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a class="showForm" href="#ModalAuthRegister">Регистрация</a></li>
                                    <li><a class="showForm" href="#ModalAuthLogin">Войти</a></li>
                                {% endif %}
                            </ul>
                            <form  action="{% url 'article:index' %}" method="get" class="navbar-form navbar-right" >
                                <input type="text" class="form-control" placeholder="Поиск..." name="find">
                                <button class="btn btn-info btn-sm" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Content ================================================= -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>

        <!-- Footer ================================================== -->

        <footer class="myfooter">
            <div class="container">
                <p class="text-muted">Проект создан в качестве курсовой работы для  колледжа телекоммуникаций.</p>
                <p class="text-muted">2017 год.</p>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'article/vendors/jquery/jquery-3.1.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'article/vendors/bootstrap3/js/bootstrap.min.js' %}"></script>

        <!-- JQuery plugin jquery.cookie.js -->
        <script src="{% static 'article/vendors/jquery/jquery.cookie.js'%}"></script>

        <script src="{% static 'article/js/common.js' %}"></script>
    </body>
</html>