{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Курсач{% endblock %}</title>

        <link rel="shortcut icon" href="{% static 'article/img/logo.ICO' %}" type="image/x-icon">

        <!-- Bootstrap -->
        <link href="{% static 'article/vendors/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Fonts -->
        <link href="{% static 'article/vendors/fonts/Roboto-100,200,300,400,500,700.css' %}" rel="stylesheet">
        <link href="{% static 'article/vendors/fonts/Roboto+Slab-100,200,300,400.css' %}" rel="stylesheet">

        <link href="{% static 'article/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'article/css/auth.css' %}" rel="stylesheet">



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- ModalAuth ============================================== -->
        <!-- TODO: обдумать тултипы (в смартфонах их е видно)-->

        {% include "article/includes/modalauth.html" %}

        <!-- Navigation bar ================================================== -->
        <!-- TODO: ПЕРЕДЕЛАТЬ АДАПТИВ!
             TODO: ПЕРЕДАЛТЬ ТОП БАР -->
        <header class="navbar" id="top">
            <div class="container">
                <nav class="navbar navbar-inverse">
                    <div class="container-flud">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="{% url 'article:index' %}">Курсовая работа</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <!--ul class="nav navbar-nav">
                                <li><a href="#">Горячее</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Темы<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'loginsys:logout' %}">Тема 1</a></li>
                                        <li><a href="#">Тема 2</a></li>
                                        <li><a href="#">Тема 3</a></li>
                                    </ul>
                                </li>
                            </ul-->
                            <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'article:add_article' %}">Добавить запись</a></li>
                                            <li><a href="{% url 'loginsys:logout' %}">Выйти</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a class="showForm" href="#ModalAuthRegister">Регистрация</a></li>
                                    <li><a class="showForm" href="#ModalAuthLogin">Войти</a></li>
                                {% endif %}
                            </ul>
                            <form  action="{% url 'article:index' %}" method="get" class="navbar-form navbar-right" >
                                <input type="text" class="form-control" placeholder="Поиск..." name="find">
                                <button class="btn btn-info btn-sm" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- Content ================================================= -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>

        <!-- Footer ================================================== -->
        <footer class="myfooter">
            <div class="container">
                <p class="text-muted">Проект создан в качестве курсовой работы для  колледжа телекоммуникаций.</p>
                <p class="text-muted">2017 год.</p>
            </div>
        </footer>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'article/vendors/jquery/jquery-3.1.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'article/vendors/bootstrap3/js/bootstrap.min.js' %}"></script>

        <!-- JQuery plugin jquery.cookie.js -->
        <script src="{% static 'article/vendors/jquery/jquery.cookie.js'%}"></script>

        <script src="{% static 'article/js/common.js' %}"></script>
    </body>
</html>