{% extends 'article/main.html' %}
{% load staticfiles %}

{% block title %}Изменить {{ article.article_title }}{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'article:upd_article' article.id %}" method="post">{% csrf_token %}
        <div class="addarticle">
            <h1 align="center">Изменить запись</h1>
            <div class="item">
                <label for="article_title">Заголовок:</label><br>
                <input type="text" name="article_title" value="{{ article.article_title }}">
            </div>
            <div class="item">
                <label for="article_text">Текст:</label>
                <textarea name="article_text" rows="15" required data-autoresize>{{ article.article_text }}</textarea>
            </div>
            <div class="item" align="right">
                <button class="add btn btn-lg">
                    <a href="{% url 'article:detail' article.id %}"><span>Отменить</span></a>
                </button>
                <button type="submit" class="add btn btn-lg">
                    <span>Изменить запись</span>
                </button>
            </div>
        </div>
        <hr class="article-detail">
    </form>
</div>
{% endblock %}