<div class="modal fade" id="modalAuth" role="dialog">
    <div class="login-area">
        <div class="bg-image">
            <div class="login-signup">
                <div class="container" style="padding: 0">

                    <div class="login-header">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="login-logo">
                                    <!--img src="http://jskrishna.com/work/merkury/images/logo.png" alt="merkury_logo" class="img-responsive"-->
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="login-details">
                                    <ul class="nav nav-tabs navbar-right">
                                        <li id="liRegister"><a data-toggle="tab" href="#register">Регистрация</a></li>
                                        <li id="liLogin"><a data-toggle="tab" href="#login">Войти</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                    <!-- REGISTER ---------------->
                        <div id="register" class="tab-pane">
                            <div class="login-inner">
                                <div class="title">
                                    <h1 id="h1_reg">Регистрация</h1>
                                </div>
                                <div class="login-form">
                                    <form class="auth_form" action="{% url 'loginsys:register' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-details">
                                            <label class="user">
                                                <input type="text" name="username" placeholder="Логин" id="username">
                                            </label>
                                            <label class="mail">
                                                <input type="email" name="mail" placeholder="Почта" id="mail">
                                            </label>
                                            <label class="pass">
                                                <input type="password" name="password1" placeholder="Пароль" id="password1">
                                            </label>
                                            <label class="pass">
                                                <input type="password" name="password2" placeholder="Повторите пароль" id="password2">
                                            </label>
                                        </div>
                                        <button type="submit" class="form-btn">Зарегестрироваться</button>
                                        <button type="button" class="form-btn closeForm">Отмена</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- LOGIN ---------------->
                        <div id="login" class="tab-pane">
                            <div class="login-inner">
                                <div class="title">
                                    <h1 id="h1_log">Вход</h1>
                                </div>
                                <div class="login-form">
                                    <form class="auth_form" action="{% url 'loginsys:login' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-details">
                                            <label class="user">
                                                <input type="text" name="username" placeholder="Логин" id="username">
                                            </label>
                                            <label class="pass">
                                                <input type="password" name="password" placeholder="Пароль" id="password">
                                            </label>
                                        </div>
                                        <button type="submit" class="form-btn">Войти</button>
                                        <button type="button" class="form-btn closeForm">Отмена</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>